[daemon]
http_port = 0
max_concurrent_initial = 1

[[paths]]
alias = "kfk"
path = "__WORKSPACE_ROOT_FORWARD__/adapter/adapter"
language = "bsl"

[[paths]]
alias = "kfk-base"
path = "__WORKSPACE_ROOT_FORWARD__/adapter/base"
language = "bsl"

[[paths]]
alias = "kfk-examples"
path = "__WORKSPACE_ROOT_FORWARD__/adapter/examples"
language = "bsl"

[[paths]]
alias = "kfk-conv"
path = "__WORKSPACE_ROOT_FORWARD__/conversion/KFK"
language = "bsl"

[[paths]]
alias = "kfk-conv-kd"
path = "__WORKSPACE_ROOT_FORWARD__/conversion/КД"
language = "bsl"

[[paths]]
alias = "kfk-unit"
path = "__WORKSPACE_ROOT_FORWARD__/tests/unit/unit"
language = "bsl"

[[paths]]
alias = "kfk-yaxunit"
path = "__WORKSPACE_ROOT_FORWARD__/tests/unit/yaxunit"
language = "bsl"
